tbody tr button {
    display: block;
    float: right;
  }
  #stamm td {
    text-align: left;
    /* center checkbox horizontally */
    vertical-align: middle;
    /* center checkbox vertically */
  }
  #H1Block input[type="submit"] {
    padding: .4em .8em;
    background: #004799 linear-gradient(#9ea5dc, #a0a1be);
    border: thin solid green;
    border-radius: 0 .4em .4em;
    box-shadow: 0 .2em .4em gray;
    color: white;
    text-shadow: 0 -.05em .05em #333;
    font-size: 100%;
    line-height: 1.5;
    width: 200px;
  }

  #editBlock {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    align-items: center;
    width: 90%;
    justify-content: space-between;
  }

  #H1Block {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    align-items: center;
    width: 70%;
    justify-content: space-between;
  }

  input[type="text"] {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }