#wsInfo {
    width: 100%;
    border: solid 1px #000;
    display: flex;
}

#a {
    width: 20%;
    border: solid 1px #000;
    margin-right: auto;
}

#b {
    width: 25%;
    border: solid 1px #000;

    margin-left: auto;
}

.wsBase {
    display: flex;
    flex-direction: column;
  }
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .cell {
   /*  width: 50px;
    height: 50px; */
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .textC {
    color: #1783dc;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: green;
  }